body{
	background-color: #bec9d6;
	margin: 0;
	padding: 0;
}

h1 {
	padding-left: 20px;
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'PT Serif', serif;
	padding: 15px;
}

.peopleWork {
	padding: 30px;
	margin: 20px;
	background-image: url("people.jpg");
	width: 800px;
	height: 500px;
	background-repeat: no-repeat;
}

img{
	max-width: 100%;
	height: auto;
}
